@import "tailwindcss";

@theme {
  --color-primary-50: #f8fafc;
  --color-primary-100: #f0f4f8;
  --color-primary-200: #ddebf3;
  --color-primary-300: #bcdcea;
  --color-primary-400: #9acbe0;
  --color-primary-500: #7bbad3;
  --color-primary-600: #62a6ca;
  --color-primary-700: #4e93bd;
  --color-primary-800: #3a80af;
  --color-primary-900: #2b6ea2;
}

body {
  background: rgb(245, 238, 224);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
